{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
Posts
{% endblock title %}

{% block content %}
<h1>All news</h1>
<br>
<h3>Total news - {{ all_posts|length }}</h3>
<hr>
<a href="{% url 'post_search' %}" class="btn btn-primary" role="button">Search</a>
<hr>
{% if perms.news.add_post %}
    <p><a href="{% url 'post_create' %}" class="btn btn-primary" role="button">Add post</a></p>
{% endif %}
{% if posts %}
    <table>
        <tr>
            <td><b>Header</b></td>
            <td><b>Publication date</b></td>
            <td><b>Text</b></td>
            <td>
                {% if perms.news.change_post or perms.news.delete_post %}
                    <b>Actions</b>
                {% endif %}
            </td>
        </tr>
        {% for post in posts %}
            <tr>
                <td><a href="{% url 'post_detail' post.id %}">{{ post.header|censor }}</a></td>
                <td>{{ post.time|date:'d M Y' }}</td>
                <td>{{ post.text|truncatewords:20|censor }}</td>
                <td>
                    {% if perms.news.change_post %}
                        <a href="{% url 'post_edit' post.id %}">Edit</a> 
                    {% endif %}
                    {% if perms.news.delete_post %}
                        <a href="{% url 'post_delete' post.id %}">Delete</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <h2>There is no news</h2>
{% endif %}

{% if page_obj.has_previous %}
    <a href="?{% url_replace page=1 %}">1</a>
    {% if page_obj.previous_page_number != 1 %}
        ...
        <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
    {% endif %}
{% endif %}

{{ page_obj.number }}

{% if page_obj.has_next %}
    <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
    {% if paginator.num_pages != page_obj.next_page_number %}
        ...
        <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
    {% endif %}
{% endif %}

{% endblock content %}